body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    display: grid;
}

.grid-item {
    background-color: lightgray;
    border: 0.5px solid black;
}